[submodule "world-game"]
	path = world-game
	url = https://github.com/V-Sekai/world-game.git
[submodule "https://github.com/V-Sekai/world-editor.git"]
	path = https://github.com/V-Sekai/world-editor.git
	url = world-editor
[submodule "world-editor"]
	path = world-editor
	url = https://github.com/V-Sekai/world-editor.git
[submodule "world-grid"]
	path = world-grid
	url = https://github.com/V-Sekai/world-grid.git
[submodule "https://github.com/V-Sekai/V-Sekai.blender-game-tools.git"]
	path = https://github.com/V-Sekai/V-Sekai.blender-game-tools.git
	url = world-game-tools
[submodule "world-game-tools"]
	path = world-game-tools
	url = https://github.com/V-Sekai/V-Sekai.blender-game-tools.git
[submodule "world-explorer"]
	path = world-explorer
	url = https://github.com/V-Sekai/TOOL_model_explorer.git
